h1, h2, p {
  font-family: sans-serif; }

body {
  margin: 0;
  font-family: sans-serif; }

body {
  overflow: hidden; }

.worm {
  transition: transform 0.5s 0s;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 25%;
  bottom: 0;
  width: 20%; }
  .worm:hover {
    transform: scale(1.1); }

.disk {
  transition: transform 0.5s 0s;
  position: absolute;
  margin: auto;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  width: 20%; }
  .disk:hover {
    transform: scale(1.1); }

.good {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px; }

h1 {
  margin: auto;
  width: 100%;
  color: #aa22ee;
  padding-top: 20px;
  font-size: 50px;
  text-align: center; }
