h1, h2, p {
  font-family: sans-serif; }

body {
  margin: 0;
  font-family: sans-serif; }

body {
  overflow: hidden; }

div a {
  width: auto;
  height: auto;
  margin: 50px; }
  div a img {
    width: 200px; }

h1 {
  margin: auto;
  width: 100%;
  color: #aa22ee;
  padding-top: 20px;
  font-size: 50px;
  text-align: center; }
